 

<div *ngIf="!findError" class="table-container">
  <mat-form-field>
    <mat-label class="custom-month-label"
      >Scegli il mese da visualizzare</mat-label
    >
    <input      
      matInput
      [matDatepicker]="picker"
      (focus)="picker.open()"
      (dateChange)="dateSelected($event)"
      [(ngModel)]="selectedDate"
    /> <!-- Qua andiamo a definire un oggetto per selezionare la data, e lo colleghiamo al metodo selectedDate per prendere i valori in tempo reale definendo le logiche associate a quei metodi-->
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-icon-button *ngIf="selectedDate" (click)="resetDate()"> <!-- qua andiamo a evocare il metodo resetDate che fara' si che resettando la data la tabella torni totalmemnte popolata, condizione che si apre solo se la data è stata selezionata cosi da mostrare l'icona per cancellare-->
    <mat-icon>delete</mat-icon>
  </button>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Dynamic column definitions -->
    <ng-container
      *ngFor="let column of displayedColumns"
      [matColumnDef]="column"
    >
      <th mat-header-cell *matHeaderCellDef  (click)="toggleFilterPanel(column)"> <!-- questo permette di evocare il metodo che prende il nome della colonna e apre la logica per andare a mostrare un filtro associato a quella colonna-->
        {{ column }}
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          (click)="$event.stopPropagation()"
          *ngIf="column === 'tipoEvento' && filterPanelOpen === column" > <!-- questo stop propagation fa si che quando io premo la prima volta sul toggle apre il pop up e poi stoppa la propagazione del click cos ifacendo permette l'apertura del filtro (mostrato al fondo) evidando che le due cose vadano in contrasto fra loro, nel senso che: se clicco colonna (primo evento true) vado per aprire il filtro (secondo evento true ma primo diventa false) e quindi non permetterebbe la visualizzazione-->
          
          <mat-icon>filter_list</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ formatCellValue(element[column], column) }}
        <!-- qua andiamo a stampare quello che restituisce il metodo passando nella firma value + key-->
      </td>
    </ng-container>

    <!-- Header and row definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
  <div>
    <app-graph-component></app-graph-component>
  </div>
</div>

<div *ngIf="findError" class="error-message">
  {{ stringError }}
</div>

<!-- Popup (mat-menu) per il filtro "tipoEvento" -->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="applyFilter('DEBITO')">DEBITO</button>
  <button mat-menu-item (click)="applyFilter('ENTRATA')">ENTRATA</button>
  <button mat-menu-item (click)="applyFilter('SPESA')">SPESA</button>
</mat-menu>
