<app-navigation-menu></app-navigation-menu>

<div class="container">
  <h2>Lista dei debiti</h2>
  
  <div class="debt-list" *ngFor="let debt of completeDebts">
    <mat-card class="debt-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{debt.description}}</mat-card-title>
        <mat-card-subtitle>Debito saldato: {{debt.settled ? 'Si' : 'No'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button (click)="moreInfo(debt.debitID!)"> Maggiori info <mat-icon>expand_more</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>

  <span class="debt-count-badge"> {{numbersOfDebts}}   </span>
  <span class="debt-count-badge"> {{numbersOfCompleteDebts}} </span>
  <button class="debt-count-badge cursore" (click)="spreadPayments()">Test rateizza debito</button>
</div>
