<table>
    <tr>
      <td>
        <ngx-charts-bar-vertical
          [results]="eventsRecorded"
          [view]="view"
          [schemeType]="schemeType"
          [gradient]="gradient"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [legend]="legend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [legendTitle]="legendTitle"
          [legendPosition]="legendPosition"
          [animations]="animations"
          [showGridLines]="showGridLines"
          [trimXAxisTicks]="trimXAxisTicks"
          [trimYAxisTicks]="trimYAxisTicks"
          [rotateXAxisTicks]="rotateXAxisTicks"
          [maxXAxisTickLength]="maxXAxisTickLength"
          [maxYAxisTickLength]="maxYAxisTickLength"
   
          [yAxisTicks]="yAxisTicks"
          [showDataLabel]="showDataLabel"
          [barPadding]="barPadding"
          [tooltipDisabled]="tooltipDisabled"
          [roundEdges]="roundEdges"
        >
        </ngx-charts-bar-vertical>
      </td>
    </tr>
  </table>
<!--   
  [xAxisTickFormatting]="formatString"
  [yAxisTickFormatting]="formatNumber" -->