<a mat-button routerLink="/register">
  <span>Registra utente</span>
  <mat-icon>info</mat-icon>
</a>

<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Inserisci username</mat-label>
    <input matInput   #username>
    <mat-icon>supervisor_account</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Inserisci password</mat-label>
    <input matInput #password type="password" />
    <mat-icon> dialpad</mat-icon>
  </mat-form-field>

  <div class="button-container">
    <button mat-raised-button (click)="salvaDati(username.value, password.value)">Salva</button>
  </div>

   <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>
</div>
