<p>debit works!</p>
<ng-container>
    <form [formGroup]="debitForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Descrizione</mat-label>
        <input matInput type="text" formControlName="description" />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Valore debito accumulato</mat-label>
        <input matInput type="text" formControlName="valueStart" />
      </mat-form-field>
  
      <button type="submit" mat-raised-button [disabled]="!debitForm.valid">
        Conferma
      </button>
    </form>
  </ng-container>
  